@model Symphony.Models.Folder

@{
    ViewBag.Title = "ویرایش";
}
<form method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <h4>پوشه</h4>
    <br />
    @Html.ValidationSummary(true, "لطفا اطلاعات را دقیق وارد نمائید")
    @Html.HiddenFor(model => model.Id)

    <div>
        @Html.LabelFor(model => model.Parent)
        <div>
            @Html.EditorFor(model => model.Parent)
            @Html.ValidationMessageFor(model => model.Parent, "*", new { @class = "Message" })
        </div>
    </div>

    <div>
        @Html.LabelFor(model => model.Name)
        <div>
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name, "*", new { @class = "Message" })
        </div>
    </div>

    <input type="submit" value="ذخیره" />
</form>
@if (!Request.IsAjaxRequest())
{
@Html.ActionLink("بازگشت", "Index")
}
