@model Symphony.Models.Composer

@{
    ViewBag.Title = "ایجاد";
}
<form method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <h4>آهنگساز</h4>
    <br />
    @Html.ValidationSummary(true, "لطفا اطلاعات را دقیق وارد نمائید", new { @class = "Message" })
    <div>
        @Html.LabelFor(model => model.Fullname)
        <div>
            @Html.EditorFor(model => model.Fullname)
            @Html.ValidationMessageFor(model => model.Fullname, "*")
        </div>
    </div>

    <div>
        @Html.LabelFor(model => model.Text)
        <div>
            @Html.EditorFor(model => model.Text)
            @Html.ValidationMessageFor(model => model.Text, "*")
        </div>
    </div>

    <div>
        @Html.LabelFor(model => model.Thumbnail)
        <div>
            <input type="file" name="thumbnail" />
            @Html.ValidationMessageFor(model => model.Thumbnail, "*")
        </div>
    </div>

    <input type="submit" value="ایجاد" />
</form>
@if (!Request.IsAjaxRequest())
{
    @Html.ActionLink("بازگشت", "Index")
}
