@model IEnumerable<Symphony.Models.A3>

@{
    ViewBag.Title = "قطعه با کنسرت";
}
@Html.ActionLink("ایجاد", "Create")
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Track.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Concert.Date)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Track.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Concert.Date)
            </td>
            <td>
                @Ajax.ActionLink("حذف", "Delete", new { id = item.Id }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "Dynamic", OnComplete = "JsDynamic()" })
            </td>
        </tr>
    }
</table>
