@model IEnumerable<Symphony.Models.Picture>

@{
    ViewBag.Title = "نگارکده";
}
@Html.ActionLink("ایجاد", "Create")
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <img src="~/Thumbs/Pic/@item.Id" />
        </td>
        <td>
            @Html.ActionLink("ویرایش", "Edit", new { id = item.Id })
            @Ajax.ActionLink("حذف", "Delete", new { id=item.Id }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "Dynamic", OnComplete = "JsDynamic()" })
        </td>
    </tr>
}
</table>
