@model IEnumerable<Symphony.Models.File>

@{
    ViewBag.Title = "فایل";
}
@Html.ActionLink("ایجاد", "Create")
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lenght)
        </th>
        <th>
           پوشه
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lenght)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Folder.Name)
        </td>
        <td>
            @Html.ActionLink("حذف", "Delete", new { id=item.Name }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "Dynamic", OnComplete = "JsDynamic()" })
            <a href="~/Download/File/@item.Name">دانلود</a>
        </td>
    </tr>
}
</table>
